.pin#colors
  .head
    %h3 Colors

  - i = 0

  .body
    - @colors.each do |key, val|
      - i += 1

      -# %h5= key

      .pin.color
        = render('layouts/dash')

        :scss
          .pin.color:nth-child(#{i}) {
            background: #{val[:primary]};
            .dash {
              .cell {
                .pin {
                  background: #{val[:secondary]};
                  color: #{val[:tertiary]};
                }
              }
            }
          }
