.pin#apps
  .head
    %h3 Apps

  .body
    #misc
      .head
        %h3 Misc

      .body
        - @apps[:apps].each do |name, color|
          %div{:style => "background: #{color}"}
            = image_tag("apps/#{name.downcase}.svg")

    #games
      .head
        %h3 Games

      .body
        - @apps[:games].each do |name|
          %div
            = image_tag("apps/#{name.downcase}.png")
