.pin#friends
  .head
    %h3 Friends

  .body
    %div
      %div
        = image_tag("friends/1.png")
        %h5 xX_josh_Xx

      %div
        = image_tag("friends/2.png")
        %h5 mr_pink

      %div
        = image_tag("friends/3.png")
        %h5 sabotage

      %div
        = image_tag("friends/4.png")
        %h5 dennis_da_menace

    .party
      - 3.times do
        %div
          = image_tag("friends/5.png")
          %h5 dennis_da_menace
